.card {
  /* padding: 10px; */
  width: 45vw;
  background: white;
  border: 1px solid #b0a6b5;
  margin: 15px;
  text-align: left;
}

.image {
  width: 100%;
  object-fit: contain;
}
.caption {
  padding: 10px;
}
